{% extends 'layouts/default.twig' %}
{% set body_class = 'client' %}
{% set head_title = 'Client Page' %}
{% block page %}

			<div class="page-content">
				<div class="services-page">
					<section class="header-page">
						<div class="header-wrapper">
							<div class="container">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item" data-aos="fade-in">
											<a href="index.html">
												<span class="fa fa-home"></span>
											</a>
										</li>
										<li class="breadcrumb-item active" data-aos="fade-in" aria-current="page">Client</li>
									</ol>
								</nav>
								<div class="title-cover">
									<div class="row align-items-start">
										<div class="col-md-6">
											<div class="title-page">
												<h2 class="font-text-semibold" data-aos="fade-in">
													Client
												</h2>
												<h6 data-aos="fade-in">We are proud of the track record we've built with our clients.</h6>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="content-page">
						<div class="container">
							<div class="service-content">
								<div class="content-list-group">
									<div class="thumbnails">
										<div class="thumbnail-wrapper margin-min">
											<div class="content-list-row row">
												<div class="col-6 col-md-3 col-lg-2">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<figure>
																<div class="images br-30 object-contain">
																	<img src="assets/img/client/client-dishub.png" alt="">
																</div>
															</figure>
														</div>
														<div class="info-area">
															<h5 class="subtitle-thumbs font-text-semibold">
																Dinas Perhubungan
															</h5>
														</div>
													</div>
												</div>
												<div class="col-6 col-md-3 col-lg-2">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<figure>
																<div class="images br-30 object-contain">
																	<img src="assets/img/client/client-pertanian.png" alt="">
																</div>
															</figure>
														</div>
														<div class="info-area">
															<h5 class="subtitle-thumbs font-text-semibold">
																Dinas Pertanian
															</h5>
														</div>
													</div>
												</div>
												<div class="col-6 col-md-3 col-lg-2">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<figure>
																<div class="images br-30 object-contain">
																	<img src="assets/img/client/client-kemenkes.png" alt="">
																</div>
															</figure>
														</div>
														<div class="info-area">
															<h5 class="subtitle-thumbs font-text-semibold">
																Kementerian Kesehatan
															</h5>
														</div>
													</div>
												</div>
												<div class="col-6 col-md-3 col-lg-2">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<figure>
																<div class="images br-30 object-contain">
																	<img src="assets/img/client/client-mandiri.png" alt="">
																</div>
															</figure>
														</div>
														<div class="info-area">
															<h5 class="subtitle-thumbs font-text-semibold">
																Bank Mandiri
															</h5>
														</div>
													</div>
												</div>
												<div class="col-6 col-md-3 col-lg-2">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<figure>
																<div class="images br-30 object-contain">
																	<img src="assets/img/client/client-persita.png" alt="">
																</div>
															</figure>
														</div>
														<div class="info-area">
															<h5 class="subtitle-thumbs font-text-semibold">
																Persita Tanggerang
															</h5>
														</div>
													</div>
												</div>
												<div class="col-6 col-md-3 col-lg-2">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<figure>
																<div class="images br-30 object-contain">
																	<img src="assets/img/client/client-sinarmas.png" alt="">
																</div>
															</figure>
														</div>
														<div class="info-area">
															<h5 class="subtitle-thumbs font-text-semibold">
																Sinarmas
															</h5>
														</div>
													</div>
												</div>
												<div class="col-6 col-md-3 col-lg-2">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<figure>
																<div class="images br-30 object-contain">
																	<img src="assets/img/client/client-dishub.png" alt="">
																</div>
															</figure>
														</div>
														<div class="info-area">
															<h5 class="subtitle-thumbs font-text-semibold">
																Dinas Perhubungan
															</h5>
														</div>
													</div>
												</div>
												<div class="col-6 col-md-3 col-lg-2">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<figure>
																<div class="images br-30 object-contain">
																	<img src="assets/img/client/client-pertanian.png" alt="">
																</div>
															</figure>
														</div>
														<div class="info-area">
															<h5 class="subtitle-thumbs font-text-semibold">
																Dinas Pertanian
															</h5>
														</div>
													</div>
												</div>
												<div class="col-6 col-md-3 col-lg-2">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<figure>
																<div class="images br-30 object-contain">
																	<img src="assets/img/client/client-kemenkes.png" alt="">
																</div>
															</figure>
														</div>
														<div class="info-area">
															<h5 class="subtitle-thumbs font-text-semibold">
																Kementerian Kesehatan
															</h5>
														</div>
													</div>
												</div>
												<div class="col-6 col-md-3 col-lg-2">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<figure>
																<div class="images br-30 object-contain">
																	<img src="assets/img/client/client-mandiri.png" alt="">
																</div>
															</figure>
														</div>
														<div class="info-area">
															<h5 class="subtitle-thumbs font-text-semibold">
																Bank Mandiri
															</h5>
														</div>
													</div>
												</div>
												<div class="col-6 col-md-3 col-lg-2">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<figure>
																<div class="images br-30 object-contain">
																	<img src="assets/img/client/client-persita.png" alt="">
																</div>
															</figure>
														</div>
														<div class="info-area">
															<h5 class="subtitle-thumbs font-text-semibold">
																Persita Tanggerang
															</h5>
														</div>
													</div>
												</div>
												<div class="col-6 col-md-3 col-lg-2">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<figure>
																<div class="images br-30 object-contain">
																	<img src="assets/img/client/client-sinarmas.png" alt="">
																</div>
															</figure>
														</div>
														<div class="info-area">
															<h5 class="subtitle-thumbs font-text-semibold">
																Sinarmas
															</h5>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="paging-area">
									<nav aria-label="Product navigation">
										<ul class="pagination justify-content-center">
											<li class="page-item disabled" data-aos="zoom-in">
												<!-- <a class="page-link font-text-semibold">
													<span class="fa fa-angle-left"></span>
												</a> -->
												<span class="page-link font-text-semibold">
													<span class="fa fa-angle-left"></span>
												</span>
											</li>
											<li class="page-item" data-aos="zoom-in">
												<a class="page-link font-text-semibold" href="#">1</a>
											</li>
											<li class="page-item active" aria-current="page" data-aos="zoom-in">
												<span class="page-link font-text-semibold">2</span>
											</li>
											<li class="page-item" data-aos="zoom-in">
												<a class="page-link font-text-semibold" href="#">3</a>
											</li>
											<li class="page-item" data-aos="zoom-in">
												<a class="page-link font-text-semibold" href="#">
													<span class="fa fa-angle-right"></span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>

{% endblock %}