{% extends 'layouts/default.twig' %}
{% set body_class = 'detail' %}
{% set head_title = 'Detail Page' %}
{% block page %}

			<div class="page-content">
				<div class="detail-page">
					<section class="header-page">
						<div class="header-wrapper">
							<div class="container">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item" data-aos="fade-in">
											<a href="index.html">
												<span class="fa fa-home"></span>
											</a>
										</li>
										<li class="breadcrumb-item" data-aos="fade-in">Service</li>
										<li class="breadcrumb-item" data-aos="fade-in">
											<a href="service.html">Service</a>
										</li>
										<li class="breadcrumb-item" data-aos="fade-in">
											<a href="subservice.html">Drone</a>
										</li>
										<li class="breadcrumb-item active" data-aos="fade-in" aria-current="page">AEROTRON AGRA-30</li>
									</ol>
								</nav>
								<div class="title-page">
									<h2 class="font-text-bold" data-aos="fade-in">AEROTRON AGRA-30</h2>
									{# <h6 data-aos="fade-in">See our latest Product</h6> #}
									<ul class="tags" data-aos="fade-in">
										<li>
											<h6>
												<a href="#">Agriculture</a>
											</h6>
										</li>
										<li>
											<h6>
												<a href="#">Drone</a>
											</h6>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
					<section class="content-page">
						<div class="container">
							<div class="product-detail">
								<div class="top-content">
									<div class="image-slider">
										<div class="slider-top">
											<div class="image-primary">
												<div class="primary-slider">
													<div class="swiper-container overflow-init">
														<div class="swiper-wrapper">
															<div class="swiper-slide">
																<div class="image-area" data-aos="zoom-in">
																	<figure class="selector" data-exthumbimage="assets/img/photos/martha_christina_tiahahu_literacy_park1.jpg" data-src="assets/img/photos/martha_christina_tiahahu_literacy_park1.jpg">
																		<img class="transform-scale" src="assets/img/photos/martha_christina_tiahahu_literacy_park1.jpg" alt="">
																	</figure>
																</div>
															</div>
															<div class="swiper-slide">
																<div class="image-area" data-aos="zoom-in">
																	<figure class="selector" data-exthumbimage="assets/img/photos/martha_christina_tiahahu_literacy_park2.jpg" data-src="assets/img/photos/martha_christina_tiahahu_literacy_park2.jpg">
																		<img class="transform-scale" src="assets/img/photos/martha_christina_tiahahu_literacy_park2.jpg" alt="">
																	</figure>
																</div>
															</div>
															<div class="swiper-slide">
																<div class="image-area" data-aos="zoom-in">
																	<figure class="selector" data-exthumbimage="assets/img/photos/martha_christina_tiahahu_literacy_park3.jpeg" data-src="assets/img/photos/martha_christina_tiahahu_literacy_park3.jpeg">
																		<img class="transform-scale" src="assets/img/photos/martha_christina_tiahahu_literacy_park3.jpeg" alt="">
																	</figure>
																</div>
															</div>
															<div class="swiper-slide">
																<div class="image-area" data-aos="zoom-in">
																	<figure class="selector" data-exthumbimage="assets/img/photos/martha_christina_tiahahu_literacy_park4.jpg" data-src="assets/img/photos/martha_christina_tiahahu_literacy_park4.jpg">
																		<img class="transform-scale" src="assets/img/photos/martha_christina_tiahahu_literacy_park4.jpg" alt="">
																	</figure>
																</div>
															</div>
															<div class="swiper-slide">
																<div class="image-area" data-aos="zoom-in">
																	<figure class="selector" data-exthumbimage="assets/img/photos/martha_christina_tiahahu_literacy_park5.jpg" data-src="assets/img/photos/martha_christina_tiahahu_literacy_park5.jpg">
																		<img class="transform-scale" src="assets/img/photos/martha_christina_tiahahu_literacy_park5.jpg" alt="">
																	</figure>
																</div>
															</div>
														</div>
														<div class="swiper-custom-arrow swiper-button-prev"></div>
														<div class="swiper-custom-arrow swiper-button-next"></div>
														<div class="swiper-pagination"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="slider-bottom">
											<div class="image-thumb">
												<div class="thumb-slider">
													<div class="swiper-container">
														<div class="swiper-wrapper">
															<div class="swiper-slide">
																<div class="image-area" data-aos="zoom-in">
																	<figure>
																		<img src="assets/img/photos/martha_christina_tiahahu_literacy_park1.jpg" alt="">
																	</figure>
																</div>
															</div>
															<div class="swiper-slide">
																<div class="image-area" data-aos="zoom-in">
																	<figure>
																		<img src="assets/img/photos/martha_christina_tiahahu_literacy_park2.jpg" alt="">
																	</figure>
																</div>
															</div>
															<div class="swiper-slide">
																<div class="image-area" data-aos="zoom-in">
																	<figure>
																		<img src="assets/img/photos/martha_christina_tiahahu_literacy_park3.jpeg" alt="">
																	</figure>
																</div>
															</div>
															<div class="swiper-slide">
																<div class="image-area" data-aos="zoom-in">
																	<figure>
																		<img src="assets/img/photos/martha_christina_tiahahu_literacy_park4.jpg" alt="">
																	</figure>
																</div>
															</div>
															<div class="swiper-slide">
																<div class="image-area" data-aos="zoom-in">
																	<figure>
																		<img src="assets/img/photos/martha_christina_tiahahu_literacy_park5.jpg" alt="">
																	</figure>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="bottom-content">
									<div class="info-tab">
										<div class="row justify-content-between align-items-center">
											<div class="col-md-5 col-xl-4">
												<div class="share-detail">
													<ul class="share-area flat" data-aos="fade-in">
														<li class="share-label" data-aos="zoom-in">
															<span>Share :</span>
														</li>
														<li class="linkedin" data-aos="zoom-in">
															<a href="#" target="_blank">
																<i class="fab fa-linkedin"></i>
															</a>
														</li>
														<li class="facebook" data-aos="zoom-in">
															<a href="#" target="_blank">
																<i class="fa fa-facebook"></i>
															</a>
														</li>
														<li class="twitter" data-aos="zoom-in">
															<a href="#" target="_blank">
																<i class="icon-custom"></i>
															</a>
														</li>
														<li class="whatsapp" data-aos="zoom-in">
															<a href="#" target="_blank">
																<i class="fab fa-whatsapp"></i>
															</a>
														</li>
														<li class="link" data-aos="zoom-in">
															<a href="#" target="_blank">
																<i class="fa fa-link"></i>
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-md-7 col-xl-8 order-md-first">
											<!-- ============================ Navigasi Tab ============================ -->
												<div class="tab-area custom-tabs" data-aos="zoom-in">
													<ul class="nav nav-pills" id="spec-detail-tab" role="tablist">
														<li class="nav-item" role="presentation">
															<button class="font-text-semibold nav-link active" id="pills-description-tab" data-toggle="pill" data-target="#tab-description" type="button" role="tab" aria-controls="tab-description" aria-selected="true">Description</button>
														</li>
														<li class="nav-item" role="presentation">
															<button class="font-text-semibold nav-link" id="pills-spec-tab" data-toggle="pill" data-target="#tab-spec" type="button" role="tab" aria-controls="tab-spec" aria-selected="false">Specification</button>
														</li>
														<li class="nav-item" role="presentation">
															<button class="font-text-semibold nav-link" id="pills-feature-tab" data-toggle="pill" data-target="#tab-feature" type="button" role="tab" aria-controls="tab-feature" aria-selected="false">Certificate</button>
														</li>
													</ul>
												</div>
											<!-- ============================ End Navigasi Tab ============================ -->
											</div>
										</div>
										<div class="tab-area custom-tabs">
											<!-- ============================ Isi Konten Tab ============================ -->
											<div class="tab-content" id="spec-detail-tabContent" data-aos="zoom-in">
												<div class="tab-pane fade show active" id="tab-description" role="tabpanel" aria-labelledby="pills-description-tab">
													<h5 class="font-text-semibold subtitle-tab">Description</h5>
													<div class="tab-inside">
														<p>
															Sebuah taman yang terletak disekitar komplek atau pusat perbelanjaan dan terminal bus Blok M di kelurahan Melawai, Kebayoran Baru, Jakarta Selatan.
														</p>
														<p>
															Taman ini dinamai setelah salah satu pahlawan nasional Indonesia, yakni Martha Christina Tiahahu dan memiliki luas 9.710 m2.
														</p>

														<p>
															Taman in dilengkapi dengan fasilitas :
														</p>
														<ul>
															<li>
																<p>Tugu</p>
															</li>
															<li>
																<p>Kolam Besar</p>
															</li>
															<li>
																<p>Air Mancur</p>
															</li>
															<li>
																<p>Plaza Anak</p>
															</li>
															<li>
																<p>Area Amphitheater</p>
															</li>
															<li>
																<p>Healing Garden</p>
															</li>
															<li>
																<p>Kedai Kopi</p>
															</li>
															<li>
																<p>Ruang Baca dan Diskusi</p>
															</li>
															<li>
																<p>Toko Buku</p>
															</li>
															<li>
																<p>Ruang Literasi Anak</p>
															</li>
															<li>
																<p>Musholla</p>
															</li>
															<li>
																<p>Toilet</p>
															</li>
														</ul>
													</div>
												</div>
												<div class="tab-pane fade" id="tab-spec" role="tabpanel" aria-labelledby="pills-spec-tab">
													<h5 class="font-text-semibold subtitle-tab">Specification</h5>
													<div class="tab-inside">
														<div class="spec-inside-list row">
															<div class="col-md-6">
																<h6 class="label-spec font-text-semibold">Tipe Kerangka Lengan</h6>
																<p class="font-text-semibold">Multirotor, (4)-axis, dapat dilipat (Z-Fold)</p>
															</div>
															<div class="col-md-6">
																<h6 class="label-spec font-text-semibold">Material</h6>
																<p class="font-text-semibold">Bahan Carbon Fiber & Aluminium</p>
															</div>
															<div class="col-md-6">
																<h6 class="label-spec font-text-semibold">Dimensi</h6>
																<p class="font-text-semibold">Panjang 1538mm, Lebar 1653mm , Tinggi 824mm</p>
															</div>
															<div class="col-md-6">
																<h6 class="label-spec font-text-semibold">Berat</h6>
																<p class="font-text-semibold">Kosong (Termasuk Baterai) 40,2 kg. Dengan Muatan 70,5 kg</p>
															</div>
															<div class="col-md-6">
																<h6 class="label-spec font-text-semibold">Berat</h6>
																<p class="font-text-semibold">Cair 30 L, Spreader 30 kg</p>
															</div>
															<div class="col-md-6">
																<h6 class="label-spec font-text-semibold">Kecepatan Terbang</h6>
																<p class="font-text-semibold">5,27 m/s</p>
															</div>
															<div class="col-md-6">
																<h6 class="label-spec font-text-semibold">Durasi Terbang</h6>
																<p class="font-text-semibold">8-15 menit</p>
															</div>
															<div class="col-md-6">
																<h6 class="label-spec font-text-semibold">Kapasitas Kerja</h6>
																<p class="font-text-semibold">5,36 ha/jam</p>
															</div>
															<div class="col-md-6">
																<h6 class="label-spec font-text-semibold">Penyemprotan</h6>
																<p class="font-text-semibold">2 Nozzle Centrifugal, Debit 9 L/menit, Droplet 225 μm, lebar 3 m</p>
															</div>
															<div class="col-md-6">
																<h6 class="label-spec font-text-semibold">Spreader</h6>
																<p class="font-text-semibold">Modul 360° untuk Biji, Benih, Pupuk Granular</p>
															</div>
															<div class="col-md-6">
																<h6 class="label-spec font-text-semibold">Motor & Propeller</h6>
																<p class="font-text-semibold">Brushless 85KV, 43×14 inch, Thrust Maks 37 kg/rotor, IPX6</p>
															</div>
															<div class="col-md-6">
																<h6 class="label-spec font-text-semibold">Baterai</h6>
																<p class="font-text-semibold">30.000 mAh (14S1P, 53,2 V), 11,4 kg, 35C</p>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane fade" id="tab-feature" role="tabpanel" aria-labelledby="pills-feature-tab">
													<h5 class="font-text-semibold subtitle-tab">Certificate</h5>
													<div class="tab-inside">
														<div class="certificate-list row">
															<div class="col-md-4">
																<div class="image-area">
																	<div class="images br-30">
																		<figure class="selector" data-exthumbimage="assets/img/certificate/certificate1.jpg" data-src="assets/img/certificate/certificate1.jpg">
																			<img class="transform-scale" src="assets/img/certificate/certificate1.jpg" alt="">
																		</figure>
																	</div>
																</div>
																<h6 class="certificate-title font-text-semibold">Laporan Hasil Pengujian Pesawat Udara Nirawak (Drone) Pertanian - Penyemprotan</h6>
															</div>
															<div class="col-md-4">
																<div class="image-area">
																	<div class="images br-30">
																		<figure class="selector" data-exthumbimage="assets/img/certificate/certificate2.jpg" data-src="assets/img/certificate/certificate2.jpg">
																			<img class="transform-scale" src="assets/img/certificate/certificate2.jpg" alt="">
																		</figure>
																	</div>
																</div>
																<h6 class="certificate-title font-text-semibold">Laporan Hasil Pengujian Pesawat Udara Nirawak (Drone) Pertanian - Penyemprotan</h6>
															</div>
															<div class="col-md-4">
																<div class="image-area">
																	<div class="images br-30">
																		<figure class="selector" data-exthumbimage="assets/img/certificate/certificate3.jpg" data-src="assets/img/certificate/certificate3.jpg">
																			<img class="transform-scale" src="assets/img/certificate/certificate3.jpg" alt="">
																		</figure>
																	</div>
																</div>
																<h6 class="certificate-title font-text-semibold">Laporan Hasil Pengujian Pesawat Udara Nirawak (Drone) Pertanian - Penyemprotan</h6>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- ============================ End Isi Konten Tab ============================ -->
										</div>
									</div>
									<div class="button-area" data-aos="fade-in">
										<ul>
											<li data-aos="zoom-in">
												<a href="https://wa.me/6281261805000" target="_blank" class="button full-rounded font-text-semibold">Buy Now</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="other-thumbnails">
						<div class="container">
							<div class="title-section">
								<h4 class="font-text-semibold" data-aos="zoom-in">Other</h4>
								<h2 class="font-text-bold" data-aos="zoom-in">Services</h2>
							</div>
							<div class="other-slider">
								<div class="sliders thumb-3">
									<div class="subtitle-section" data-aos="fade-in">
										<h4 class="font-text-semibold">Construction</h4>
										<span class="divider"></span>
										<div class="viewmore">
											<a href="subservice.html">
												<span class="text font-text-semibold">View All</span>
												<span class="icon fa fa-arrow-right"></span>
											</a>
										</div>
									</div>
									<div class="slider-area" data-aos="zoom-in">
										<div class="swiper-container overflow-init">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<div class="thumbnails">
														<div class="thumbnail-wrapper">
															<div class="thumbnail-default">
																<div class="image-area">
																	<a href="#">
																		<figure>
																			<div class="images br-40">
																				<img class="transform-scale" src="assets/img/photos/thumb4.png" alt="">
																			</div>
																		</figure>
																	</a>
																</div>
																<div class="info-area">
																	<ul class="tags">
																		<li>
																			<h6>
																				<a href="#">Construction</a>
																			</h6>
																		</li>
																		<li>
																			<h6>
																				<a href="#">Electronics</a>
																			</h6>
																		</li>
																	</ul>
																	<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-text-semibold">
																		<a href="#">Aerotron Videotron</a>
																	</h3>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="thumbnails">
														<div class="thumbnail-wrapper">
															<div class="thumbnail-default">
																<div class="image-area">
																	<a href="#">
																		<figure>
																			<div class="images br-40">
																				<img class="transform-scale" src="assets/img/photos/thumb5.png" alt="">
																			</div>
																		</figure>
																	</a>
																</div>
																<div class="info-area">
																	<ul class="tags">
																		<li>
																			<h6>
																				<a href="#">Construction</a>
																			</h6>
																		</li>
																		<li>
																			<h6>
																				<a href="#">Electronics</a>
																			</h6>
																		</li>
																	</ul>
																	<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-text-semibold">
																		<a href="#">Videotron</a>
																	</h3>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="thumbnails">
														<div class="thumbnail-wrapper">
															<div class="thumbnail-default">
																<div class="image-area">
																	<a href="#">
																		<figure>
																			<div class="images br-40">
																				<img class="transform-scale" src="assets/img/photos/thumb6.png" alt="">
																			</div>
																		</figure>
																	</a>
																</div>
																<div class="info-area">
																	<ul class="tags">
																		<li>
																			<h6>
																				<a href="#">Construction</a>
																			</h6>
																		</li>
																		<li>
																			<h6>
																				<a href="#">Electronics</a>
																			</h6>
																		</li>
																	</ul>
																	<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-text-semibold">
																		<a href="#">Videotron</a>
																	</h3>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="thumbnails">
														<div class="thumbnail-wrapper">
															<div class="thumbnail-default">
																<div class="image-area">
																	<a href="#">
																		<figure>
																			<div class="images br-40">
																				<img class="transform-scale" src="assets/img/photos/thumb2.png" alt="">
																			</div>
																		</figure>
																	</a>
																</div>
																<div class="info-area">
																	<ul class="tags">
																		<li>
																			<h6>
																				<a href="#">Agriculture</a>
																			</h6>
																		</li>
																		<li>
																			<h6>
																				<a href="#">Genset</a>
																			</h6>
																		</li>
																	</ul>
																	<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-text-semibold">
																		<a href="#">Aerotron Powersolver</a>
																	</h3>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="thumbnails">
														<div class="thumbnail-wrapper">
															<div class="thumbnail-default">
																<div class="image-area">
																	<a href="#">
																		<figure>
																			<div class="images br-40">
																				<img class="transform-scale" src="assets/img/photos/thumb1.png" alt="">
																			</div>
																		</figure>
																	</a>
																</div>
																<div class="info-area">
																	<ul class="tags">
																		<li>
																			<h6>
																				<a href="#">Agriculture</a>
																			</h6>
																		</li>
																		<li>
																			<h6>
																				<a href="#">Drone</a>
																			</h6>
																		</li>
																	</ul>
																	<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-text-semibold">
																		<a href="#">Aerotron AGRA-30</a>
																	</h3>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="thumbnails">
														<div class="thumbnail-wrapper">
															<div class="thumbnail-default">
																<div class="image-area">
																	<a href="#">
																		<figure>
																			<div class="images br-40">
																				<img class="transform-scale" src="assets/img/photos/thumb4.png" alt="">
																			</div>
																		</figure>
																	</a>
																</div>
																<div class="info-area">
																	<ul class="tags">
																		<li>
																			<h6>
																				<a href="#">Construction</a>
																			</h6>
																		</li>
																		<li>
																			<h6>
																				<a href="#">Electronics</a>
																			</h6>
																		</li>
																	</ul>
																	<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-text-semibold">
																		<a href="#">Aerotron Videotron</a>
																	</h3>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="navigation-wrapper" data-aos="fade-in">
												<div class="swiper-scrollbar"></div>
												<div class="swiper-custom-arrow swiper-button-prev"></div>
												<div class="swiper-custom-arrow swiper-button-next"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>

{% endblock %}