{% extends 'layouts/default.twig' %}
{% set body_class = 'service' %}
{% set head_title = 'Layanan' %}
{% block page %}

			<div class="page-content">
				<div class="services-page">
					<section class="header-page">
						<div class="header-wrapper">
							<div class="container">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item" data-aos="fade-in">
											<a href="index.html">
												<span class="fa fa-home"></span>
											</a>
										</li>
										<li class="breadcrumb-item active" data-aos="fade-in" aria-current="page">Layanan</li>
									</ol>
								</nav>
								<div class="title-cover">
									<div class="row align-items-start">
										<div class="col-md-6 order-md-last hide-mobile">
											<div class="cover-image" data-aos="zoom-in">
												<figure>
													<img src="assets/img/photos/img-transport1.png" alt="">
												</figure>
											</div>
										</div>
										<div class="col-md-6">
											<div class="title-page">
												<h2 class="font-text-semibold" data-aos="fade-in">
													Bersama Tanesa,<br>
													Logistik Jadi Lebih Mudah
												</h2>
												<h6 data-aos="fade-in">Kami berkomitmen menjadi mitra logistik yang memahami kebutuhan bisnis Anda — menghadirkan solusi yang cepat, akurat, dan terukur.</h6>
												<div class="button-area" data-aos="fade-in">
													<a href="https://wa.me/628111040429" target="_blank" class="button full-rounded font-text-semibold">Dapatkan Penawaran</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="content-page">
						<div class="container">
							<div class="service-thumbnail">
								<div class="service-row row justify-content-center align-items-center">
									<div class="col-image col-md-6 col-lg-7">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/photos/img-transport2.png" alt="">
											</figure>
										</div>
									</div>
									<div class="col-md-6 col-lg-5">
										<div class="desc-thumb">
											<div class="desc-area">
												<h4 class="font-text-semibold" data-aos="fade-in">Transportation & Distribution of Goods</h4>
												<p data-aos="fade-in">
													Metode pengiriman di mana seluruh kapasitas satu truk didedikasikan untuk satu pengirim, tidak digabungkan dengan barang dari pengirim lain, dan dikirim langsung dari titik asal ke tujuan akhir.
												</p>
											</div>
											<div class="button-area" data-aos="fade-in">
												<a href="transportation.html" class="button full-rounded font-text-semibold">Selengkapnya</a>
											</div>
										</div>
									</div>
								</div>
								<div class="service-row row justify-content-center align-items-center">
									<div class="col-image col-md-6 col-lg-7">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/photos/img-warehouse.png" alt="">
											</figure>
										</div>
									</div>
									<div class="col-md-6 col-lg-5">
										<div class="desc-thumb">
											<div class="desc-area">
												<h4 class="font-text-semibold" data-aos="fade-in">Warehousing & Inventory Management</h4>
												<p data-aos="fade-in">
													Solusi penyimpanan dan manajemen Inventori dengan fasilitas modern, sistem keamanan berlapis, dan teknologi warehouse management terdepan.
												</p>
											</div>
											<div class="button-area" data-aos="fade-in">
												<a href="https://wa.me/628111040429" target="_blank" class="button full-rounded font-text-semibold">Dapatkan Penawaran</a>
											</div>
										</div>
									</div>
								</div>
								<div class="service-row row justify-content-center align-items-center">
									<div class="col-image col-md-6 col-lg-7">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/photos/img-customs_clearance.png" alt="">
											</figure>
										</div>
									</div>
									<div class="col-md-6 col-lg-5">
										<div class="desc-thumb">
											<div class="desc-area">
												<h4 class="font-text-semibold" data-aos="fade-in">Customs & Regulatory Services</h4>
												<p data-aos="fade-in">
													Customs Clearance (Jasa Kepabeanan) mencakup layanan yang membantu proses pengurusan dokumen dan perizinan agar barang dapat keluar-masuk wilayah pabean (impor/ekspor) secara legal dan efisien.
												</p>
											</div>
											<div class="button-area" data-aos="fade-in">
												<a href="https://wa.me/628111040429" target="_blank" class="button full-rounded font-text-semibold">Dapatkan Penawaran</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="advantages-info overflow-init">
						<div class="container">
							<div class="title-section">
								<h2 class="font-text-semibold" data-aos="zoom-in">Keunggulan Kami</h2>
							</div>
							<div class="advantages-row row no-gutters justify-content-center">
								<div class="col-md-6 col-lg-4">
									<div class="box" data-aos="zoom-in">
										<div class="icon-area">
											<span class="icon icon-map-marker"></span>
										</div>
										<div class="name-area">
											<h5 class="font-text-semibold">Multidrop</h5>
										</div>
										<div class="desc-area">
											<p>Dapat melayani distribusi dengan banyak tujuan, baik dalam kota, dalam provinsi maupun antar pulau dengan jalur linear.</p>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4">
									<div class="box" data-aos="zoom-in">
										<div class="icon-area">
											<span class="icon icon-pickup"></span>
										</div>
										<div class="name-area">
											<h5 class="font-text-semibold">Pickup</h5>
										</div>
										<div class="desc-area">
											<p>Cukup request pengiriman dan menunggu di jemput.  Barang / kiriman akan di pickup langsung ke gudang atau ke titik yang disepakati. Sehingga tidak keluar biaya pengantaran ke counter.</p>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4">
									<div class="box" data-aos="zoom-in">
										<div class="icon-area">
											<span class="icon icon-scale"></span>
										</div>
										<div class="name-area">
											<h5 class="font-text-semibold">Flexible</h5>
										</div>
										<div class="desc-area">
											<p>Perhitungan biaya pengiriman didasarkan pada tujuan dan berat / volume barang. Pengukuran dapat menggunakan berat actual, Cbm dan koli based.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>

{% endblock %}