{% extends 'layouts/default.twig' %}
{% set body_class = 'tracking' %}
{% set head_title = 'Lacak Pengiriman' %}
{% block page %}

			<div class="page-content">
				<div class="tracking-page">
					<section class="header-page">
						<div class="header-wrapper">
							<div class="container">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item" data-aos="fade-in">
											<a href="index.html">
												<span class="fa fa-home"></span>
											</a>
										</li>
										<li class="breadcrumb-item active" data-aos="fade-in" aria-current="page">Tracking</li>
									</ol>
								</nav>
								<div class="title-cover">
									<div class="row align-items-start">
										<div class="col-md-6">
											<div class="title-page">
												<h2 class="font-text-semibold" data-aos="fade-in">
													Lacak Pengiriman
												</h2>
												<h6 data-aos="fade-in">Phasellus sagittis cursus enim, vitae facilisis ligula egestas a.</h6>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="tracking-section overflow-init">
						<div class="container">
							<div class="row">
								<div class="col-lg-5 col-xl-4">
									<div class="tracking-info" data-aos="zoom-in">
										<div class="thumbnail-card ">
											<div class="box">
												<div class="card-head">
													<div class="wrapper">
														<div class="transport-type">
															<span class="icon boat"></span>
															<div class="name-transport">
																<label class="font-text-medium">Freight</label>
																<h6 class="font-text-semibold">Sea Freight</h6>
															</div>
														</div>
														<div class="load-type">
															<div class="badge-item font-text-semibold">FCL</div>
														</div>
													</div>
												</div>
												<div class="card-body">
													<div class="wrapper">
														<div class="row-item">
															<div class="list-item large">
																<label class="font-text-medium">Penerima</label>
																<h5 class="font-text-semibold">PT. Pabrik Mesin Guntur</h5>
															</div>
															<div class="list-item">
																<label class="font-text-medium">No. Resi / AWB</label>
																<h6 class="font-text-semibold">TNS-BYFST69Y</h6>
															</div>
															<div class="list-item">
																<label class="font-text-medium">Tangggal</label>
																<h6 class="font-text-semibold">20 Aprill 2026</h6>
															</div>
															<div class="list-item">
																<label class="font-text-medium">Kota Asal</label>
																<h6 class="font-text-semibold">Bekasi</h6>
															</div>
															<div class="list-item">
																<label class="font-text-medium">Kota Tujuan</label>
																<h6 class="font-text-semibold">Surabaya</h6>
															</div>
															<div class="list-item">
																<label class="font-text-medium">Service Type</label>
																<h6 class="font-text-semibold">REGPACK</h6>
															</div>
															<div class="list-item">
																<label class="font-text-medium">Estimasai Kirim</label>
																<h6 class="font-text-semibold">2 Day</h6>
															</div>
														</div>
													</div>
												</div>
												<div class="card-foot">
													<div class="wrapper">
														<div class="tracking-progress">
															<div class="wrapper-progress">
																<div class="progress">
																	<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																</div>
																<div class="tracking-step">
																	<div class="step-list completed">
																		<div class="icon">
																			<span class="dots"></span>
																		</div>
																		<h6 class="font-text-semibold">Shipped</h6>
																	</div>
																	<div class="step-list completed">
																		<div class="icon">
																			<span class="dots"></span>
																		</div>
																		<h6 class="font-text-semibold">Out For Delivery</h6>
																	</div>
																	<div class="step-list">
																		<div class="icon no-pad">
																			<span class="fa fa-check"></span>
																		</div>
																		<h6 class="font-text-semibold">Delivered</h6>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-7 col-xl-8">
									<div class="tracking-timeline">
										<div class="timeline-list completed" data-aos="fade-up">
											<div class="timeline-wrapper">
												<div class="timeline-box">
													<div class="timeline-content">
														<h5 class="font-text-semibold">Parcel has been delivered to the recipient Address</h5>
													</div>
													<div class="timeline-date">
														<ul>
															<li>
																<h6>20 April 2026</h6>
															</li>
															<li>
																<span class="dots"></span>
															</li>
															<li>
																<h6>09:20:12</h6>
															</li>
														</ul>
													</div>
													<div class="timeline-photos">
														<ul>
															<li>
																<div class="images">
																	<figure class="selector" data-exthumbimage="assets/img/photos/thumb2.jpg" data-src="assets/img/photos/thumb2.jpg">
																		<img src="assets/img/photos/thumb2.jpg" alt="">
																	</figure>
																</div>
															</li>
															<li>
																<div class="images">
																	<figure class="selector" data-exthumbimage="assets/img/photos/thumb13.jpg" data-src="assets/img/photos/thumb13.jpg">
																		<img src="assets/img/photos/thumb13.jpg" alt="">
																	</figure>
																</div>
															</li>
															<li>
																<div class="images">
																	<figure class="selector" data-exthumbimage="assets/img/photos/thumb6.jpg" data-src="assets/img/photos/thumb6.jpg">
																		<img src="assets/img/photos/thumb6.jpg" alt="">
																	</figure>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="timeline-list current" data-aos="fade-up">
											<div class="timeline-wrapper">
												<div class="timeline-box">
													<div class="timeline-content">
														<h5 class="font-text-semibold">Parcel Out for Delivery</h5>
													</div>
													<div class="timeline-date">
														<ul>
															<li>
																<h6>20 April 2026</h6>
															</li>
															<li>
																<span class="dots"></span>
															</li>
															<li>
																<h6>09:20:12</h6>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="timeline-list" data-aos="fade-up">
											<div class="timeline-wrapper">
												<div class="timeline-box">
													<div class="timeline-content">
														<h5 class="font-text-semibold">Received at Warehouse [Surabaya, Pasar Turi]</h5>
													</div>
													<div class="timeline-date">
														<ul>
															<li>
																<h6>20 April 2026</h6>
															</li>
															<li>
																<span class="dots"></span>
															</li>
															<li>
																<h6>09:20:12</h6>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="timeline-list" data-aos="fade-up">
											<div class="timeline-wrapper">
												<div class="timeline-box">
													<div class="timeline-content">
														<h5 class="font-text-semibold">Processed at Sorting Center [Semarang, Madokuro Undel]</h5>
													</div>
													<div class="timeline-date">
														<ul>
															<li>
																<h6>20 April 2026</h6>
															</li>
															<li>
																<span class="dots"></span>
															</li>
															<li>
																<h6>09:20:12</h6>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="timeline-list" data-aos="fade-up">
											<div class="timeline-wrapper">
												<div class="timeline-box">
													<div class="timeline-content">
														<h5 class="font-text-semibold">Process and Forward to [Semarang, Madokuro Undel]</h5>
													</div>
													<div class="timeline-date">
														<ul>
															<li>
																<h6>20 April 2026</h6>
															</li>
															<li>
																<span class="dots"></span>
															</li>
															<li>
																<h6>09:20:12</h6>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="timeline-list" data-aos="fade-up">
											<div class="timeline-wrapper">
												<div class="timeline-box">
													<div class="timeline-content">
														<h5 class="font-text-semibold">Shipment Received at Counter</h5>
													</div>
													<div class="timeline-date">
														<ul>
															<li>
																<h6>20 April 2026</h6>
															</li>
															<li>
																<span class="dots"></span>
															</li>
															<li>
																<h6>09:20:12</h6>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>

{% endblock %}