{% extends 'layouts/default.twig' %}
{% set body_class = 'transportation' %}
{% set head_title = 'Transportation &amp; Distribution of Goods' %}
{% block page %}

			<div class="page-content">
				<div class="transportation-page">
					<section class="header-page">
						<div class="header-wrapper">
							<div class="container">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item" data-aos="fade-in">
											<a href="index.html">
												<span class="fa fa-home"></span>
											</a>
										</li>
										<li class="breadcrumb-item" data-aos="fade-in">
											<a href="service.html">
												Layanan
											</a>
										</li>
										<li class="breadcrumb-item active" data-aos="fade-in" aria-current="page">Transportation</li>
									</ol>
								</nav>
								<div class="title-cover">
									<div class="row align-items-start">
										<div class="col-md-6 order-md-last hide-mobile">
											<div class="cover-image" data-aos="zoom-in">
												<figure>
													<img src="assets/img/photos/img-transport2.png" alt="">
												</figure>
											</div>
										</div>
										<div class="col-md-6">
											<div class="title-page">
												<h2 class="font-text-semibold" data-aos="fade-in">
													Transportation &amp;<br>
													Distribution of Goods
												</h2>
												<h6 data-aos="fade-in">Kami berkomitmen menjadi mitra logistik yang memahami kebutuhan bisnis Anda — menghadirkan solusi yang cepat, akurat, dan terukur.</h6>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="transportation-service overflow-init">
						<div class="container">
							<div class="title-section">
								<h2 class="font-text-semibold" data-aos="zoom-in">Layanan Utama Kami</h2>
							</div>
							<div class="thumbnail-overlaps">
								<div class="row justify-content-center">
									<div class="col-md-6">
										<div class="box" data-aos="fade-in">
											<div class="thumbnail-wrapper text-center">
												<div class="image-area">
													<figure data-aos="zoom-in">
														<img src="assets/img/photos/img-landfreight.png" alt="">
													</figure>
												</div>
												<div class="desc-area">
													<h5 class="font-text-semibold" data-aos="fade-in">Land Freight</h5>
													<p data-aos="fade-in">Land Freight Services menawarkan pengiriman barang dalam hitungan jam, jangkuan pengiriman yang lebih luas & aman.</p>
												</div>
												<div class="button-area" data-aos="fade-in">
													<a href="land-freight.html" class="button full-rounded full-width font-text-semibold">Pilih</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="box" data-aos="fade-in">
											<div class="thumbnail-wrapper text-center">
												<div class="image-area">
													<figure data-aos="zoom-in">
														<img src="assets/img/photos/img-airfreight.png" alt="">
													</figure>
												</div>
												<div class="desc-area">
													<h5 class="font-text-semibold" data-aos="fade-in">Air Freight</h5>
													<p data-aos="fade-in">Air Freight Services menawarkan pengiriman barang dalam hitungan jam, jangkuan pengiriman yang lebih luas & aman.</p>
												</div>
												<div class="button-area" data-aos="fade-in">
													<a href="air-freight.html" class="button full-rounded full-width font-text-semibold">Pilih</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="box" data-aos="fade-in">
											<div class="thumbnail-wrapper text-center">
												<div class="image-area">
													<figure data-aos="zoom-in">
														<img src="assets/img/photos/img-seafreight.png" alt="">
													</figure>
												</div>
												<div class="desc-area">
													<h5 class="font-text-semibold" data-aos="fade-in">Sea Freight</h5>
													<p data-aos="fade-in">Sea Freight Services menawarkan pengiriman barang dalam hitungan jam, jangkuan pengiriman yang lebih luas & aman.</p>
												</div>
												<div class="button-area" data-aos="fade-in">
													<a href="sea-freight.html" class="button full-rounded full-width font-text-semibold">Pilih</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="faq-section overflow-init">
						<div class="container">
							<div class="title-section">
								<h2 class="font-text-semibold" data-aos="zoom-in">FAQ</h2>
							</div>
							<div class="faq">
								<div class="row justify-content-center">
									<div class="col-lg-10 col-xl-8">
										<div class="faq-content">
											<div class="accordion custom-accordion" id="accordionExample">
												<div class="accordion-list" data-aos="fade-up">
													<div class="accordion-head" id="headingOne">
														<div class="toggle-collapse" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
															<h5 class="font-text-semibold">
																Layanan apa saja yang disediakan oleh Tanesa Logistics?
															</h5>
															<span class="icon-arrow fa fa-angle-up"></span>
														</div>
													</div>
													<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
														<div class="accordion-body">
															<p>
																Tanesa Logistics menyediakan layanan pengiriman darat, laut, dan udara, serta penyimpanan gudang, distribusi, dan solusi logistik terintegrasi. Kami siap menyesuaikan layanan sesuai kebutuhan bisnis Anda.
															</p>
														</div>
													</div>
												</div>
												<div class="accordion-list" data-aos="fade-up">
													<div class="accordion-head" id="headingTwo">
														<div class="toggle-collapse collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
															<h5 class="font-text-semibold">
																Apakah Tanesa melayani pengiriman ke luar negeri?
															</h5>
															<span class="icon-arrow fa fa-angle-up"></span>
														</div>
													</div>
													<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
														<div class="accordion-body">
															<p>
																Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis nibh diam, nec ornare lectus ultrices porttitor. Duis tempus libero sed tortor elementum hendrerit. Nulla facilisi. Nulla in elementum massa. Suspendisse viverra libero vehicula enim molestie, in porttitor nibh porta. Phasellus iaculis vehicula elit, id luctus elit rutrum quis. Vestibulum elementum urna sit amet lobortis efficitur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
															</p>
														</div>
													</div>
												</div>
												<div class="accordion-list" data-aos="fade-up">
													<div class="accordion-head" id="headingThree">
														<div class="toggle-collapse collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
															<h5 class="font-text-semibold">
																Bagaimana cara mendapatkan penawaran harga pengiriman?
															</h5>
															<span class="icon-arrow fa fa-angle-up"></span>
														</div>
													</div>
													<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
														<div class="accordion-body">
															<p>
																<strong>Ada 2 cara yang dapat dilakukan.</strong>
															</p>
															<ol>
																<li>
																	Fusce convallis pellentesque fringilla. Nunc consequat nulla ipsum, vel tempor elit laoreet ut. Fusce sit amet eros quis tellus suscipit commodo. Morbi nunc lectus, luctus sed ante dignissim, hendrerit iaculis est.
																</li>
																<li>
																	Vestibulum gravida ultrices augue, ac interdum elit porta non. Duis et maximus metus, ut imperdiet ex. Sed non eros a augue imperdiet suscipit ut nec augue.
																</li>
																<li>
																	Nunc at varius eros. Duis tincidunt in purus vitae laoreet. Donec vel maximus eros, vitae rhoncus arcu
																</li>
																<li>
																	Aliquam erat volutpat. Suspendisse ornare sed diam eget volutpat. Phasellus imperdiet dapibus pulvinar. Aliquam et neque nulla.
																</li>
															</ol>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>

{% endblock %}