		<footer id="footer" data-aos="fade-in">
			<div class="nav-top">
				<div class="container">
					<div class="footer-wrapper">
						<div class="row justify-content-start justify-content-md-center justify-content-lg-start">
							<div class="col-md-8 col-lg-4">
								<div class="footer-logo" data-aos="fade-in">
									<a href="#">
										<figure>
											<img src="assets/img/logo-white.png" alt="Simplo">
										</figure>
									</a>
								</div>
								<div class="footer-info">
									<h6 class="font-text-semibold" data-aos="fade-in">
										PT. Tan Esa Gemilang
									</h6>
								</div>
								<div class="footer-contact" data-aos="fade-in">
									<ul>
										<li class="contact-list">
											<div class="nav-contact align-items-center">
												<div class="icon-area">
													<i class="fa fa-phone"></i>
												</div>
												<div class="info-area">
													<h5 class="font-text-semibold">
														<a href="tel:+628111040429" target="_blank">+62-8111-0404-29</a>
													</h5>
												</div>
											</div>
										</li>
										<li class="contact-list">
											<div class="nav-contact align-items-center">
												<div class="icon-area">
													<i class="fa fa-envelope"></i>
												</div>
												<div class="info-area">
													<h5 class="font-text-semibold">
														<a href="mailto:hello@tanesalogistics.com" target="_blank">hello@tanesalogistics.com</a>
													</h5>
												</div>
											</div>
										</li>
										<li class="contact-list">
											<div class="nav-contact">
												<div class="icon-area">
													<i class="fa fa-map-marker"></i>
												</div>
												<div class="info-area">
													<ul>
														<li>
															<h5 class="font-text-semibold">Office</h5>
															<h6>Ruko Kindo Square C.18, Jl Duren Tiga Raya 101 RT.8/1 Duren Tiga, Pancoran, Jakarta Selatan, 12760</h6>
														</li>
														<li>
															<h5 class="font-text-semibold">Warehouse</h5>
															<h6>Jl. Kapuas Raya No.1 RT 04, RT.007/RW.019, Harapan Jaya, Kec. Bekasi Utara, Kota Bks, Jawa Barat 17124</h6>
														</li>
													</ul>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-8 col-lg-4">
								<div class="footer-nav" data-aos="fade-in">
									<div class="nav-group">
										<h6 class="font-text-semibold">Our Services</h6>
										<div class="row">
											<div class="col-6">
												<a href="#" class="font-text-semibold">Full Container Load</a>
											</div>
											<div class="col-6">
												<a href="#" class="font-text-semibold">Less Than Container Load</a>
											</div>
											<div class="col-6">
												<a href="#" class="font-text-semibold">Full Truck Load</a>
											</div>
											<div class="col-6">
												<a href="#" class="font-text-semibold">Less Than Truck Load</a>
											</div>
											<div class="col-6">
												<a href="#" class="font-text-semibold">Air Freight</a>
											</div>
											<div class="col-6">
												<a href="#" class="font-text-semibold">Sea Freight</a>
											</div>
										</div>
									</div>
									<div class="nav-group">
										<h6 class="font-text-semibold">Navigation</h6>
										<div class="row">
											<div class="col-6">
												<a href="#" class="font-text-semibold">Beranda</a>
											</div>
											<div class="col-6">
												<a href="#" class="font-text-semibold">Tentang Kami</a>
											</div>
											<div class="col-6">
												<a href="#" class="font-text-semibold">Layanan</a>
											</div>
											<div class="col-6">
												<a href="#" class="font-text-semibold">Cek Tarif</a>
											</div>
											<div class="col-6">
												<a href="#" class="font-text-semibold">Klien</a>
											</div>
											<div class="col-6">
												<a href="#" class="font-text-semibold">Portfolio</a>
											</div>
											<div class="col-6">
												<a href="#" class="font-text-semibold">Blog</a>
											</div>
											<div class="col-6">
												<a href="#" class="font-text-semibold">Kontak</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="footer-sosmed">
									<ul class="content-list social flat">
										<li class="linkedin" data-aos="zoom-in">
											<a href="#" target="_blank">
												<i class="fab fa-linkedin"></i>
											</a>
										</li>
										<li class="facebook" data-aos="zoom-in">
											<a href="#" target="_blank">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										<li class="instagram" data-aos="zoom-in">
											<a href="#" target="_blank">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
										<li class="youtube" data-aos="zoom-in">
											<a href="#" target="_blank">
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li class="tiktok" data-aos="zoom-in">
											<a href="#" target="_blank">
												<i class="icon-buttom fa-tiktok"></i>
											</a>
										</li>
									</ul>
									<p class="font-alt-regular" data-aos="fade-in">Ikuti media sosial kami agar tidak terlewatkan promo dan berita terbaru kami.</p>
								</div>
								{# <div class="footer-company">
									<ul>
										<li data-aos="zoom-in">
											<figure>
												<img src="assets/img/client/logo-sni.png" alt="Simplo">
											</figure>
										</li>
										<li data-aos="zoom-in">
											<figure>
												<img src="assets/img/client/logo-tkdn.png" alt="Simplo">
											</figure>
										</li>
										<li data-aos="zoom-in">
											<figure>
												<img src="assets/img/client/logo-kemenper.png" alt="Simplo">
											</figure>
										</li>
									</ul>
								</div> #}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="nav-bottom">
				<div class="container">
					<p class="font-alt-regular">
						<strong class="font-alt-semibold">PT. Tan Esa Gemilang</strong>. ©2026. All Rights Reserved.
					</p>
				</div>
			</div>
		</footer>