										<div class="sidebar-area">
											<div class="backdrop-sidebar"></div>
											<div class="sidebar-content" data-aos="fade-left" data-aos-delay="900">
												<div class="sidebar-toggle-button">
													<span class="fa fa-sliders"></span>
												</div>
												<div class="sidebar-wrapper">
													<div class="sidebar-news">
														<div class="sidebar-category">
															<div class="sidebar-group">
																<h5 class="font-text-semibold">
																	<span>Category</span>
																</h5>
																<ul class="sidebar-list" id="customSubCategory">
																	<li>
																		<a href="#" class="font-text-semibold">
																			<span>Category 1</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="font-text-semibold">
																			<span>Category 2</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="font-text-semibold" type="button" data-toggle="collapse" data-target="#subCatOne" aria-expanded="false" aria-controls="subCatOne">
																			<span>Category 3</span>
																			<span class="icon fa fa-angle-down"></span>
																		</a>
																		<div class="collapse" id="subCatOne" data-parent="#customSubCategory">
																			<ul class="sidebar-list nested">
																				<li>
																					<a href="#" class="font-text-semibold">
																						<span>Sub Category 1</span>
																					</a>
																				</li>
																				<li>
																					<a href="#" class="font-text-semibold">
																						<span>Sub Category 2</span>
																					</a>
																				</li>
																				<li>
																					<a href="#" class="font-text-semibold">
																						<span>Sub Category 3</span>
																					</a>
																				</li>
																				<li>
																					<a href="#" class="font-text-semibold">
																						<span>Sub Category 4</span>
																					</a>
																				</li>
																				<li>
																					<a href="#" class="font-text-semibold">
																						<span>Sub Category 5</span>
																					</a>
																				</li>
																			</ul>
																		</div>
																	</li>
																	<li>
																		<a href="#" class="font-text-semibold" type="button" data-toggle="collapse" data-target="#subCatTwo" aria-expanded="false" aria-controls="subCatTwo">
																			<span>Category 4</span>
																			<span class="icon fa fa-angle-down"></span>
																		</a>
																		<div class="collapse" id="subCatTwo" data-parent="#customSubCategory">
																			<ul class="sidebar-list nested">
																				<li>
																					<a href="#" class="font-text-semibold">
																						<span>Sub Category 1</span>
																					</a>
																				</li>
																				<li>
																					<a href="#" class="font-text-semibold">
																						<span>Sub Category 2</span>
																					</a>
																				</li>
																				<li>
																					<a href="#" class="font-text-semibold">
																						<span>Sub Category 3</span>
																					</a>
																				</li>
																				<li>
																					<a href="#" class="font-text-semibold">
																						<span>Sub Category 4</span>
																					</a>
																				</li>
																				<li>
																					<a href="#" class="font-text-semibold">
																						<span>Sub Category 5</span>
																					</a>
																				</li>
																			</ul>
																		</div>
																	</li>
																	<li>
																		<a href="#" class="font-text-semibold">
																			<span>Category 5</span>
																		</a>
																	</li>
																</ul>
															</div>
															<div class="sidebar-group">
																<h5 class="font-text-semibold">
																	<span>Archived</span>
																</h5>
																<ul class="sidebar-list">
																	<li>
																		<a href="#" class="font-text-semibold">
																			<span>Desember 2025</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="font-text-semibold">
																			<span>Januari 2026</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="font-text-semibold">
																			<span>Februari 2026</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="font-text-semibold">
																			<span>Maret 2026</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="font-text-semibold">
																			<span>April 2026</span>
																		</a>
																	</li>
																</ul>
															</div>
															<div class="sidebar-group">
																<h5 class="font-text-semibold">
																	<span>Recent Posts</span>
																</h5>
																<div class="thumbnails">
																	<ul class="thumbnail-list">
																		<li class="thumbnail-item">
																			<div class="wrapper">
																				<div class="image-area">
																					<a href="blog-detail.html">
																						<figure>
																							<div class="images br-24">
																								<img class="transform-scale" src="assets/img/photos/thumb6.jpg" alt="">
																							</div>
																						</figure>
																					</a>
																				</div>
																				<div class="info-area">
																					<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-text-semibold">
																						<a href="blog-detail.html">
																							Phasellus nisl velit, mollis ac gravida vel, porttitor porttitor ex. Etiam non mattis urna. Nullam non porta augue. Nunc dictum vehicula erat, in tincidunt neque tristique in.
																						</a>
																					</h3>
																					<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																						Maecenas enim justo, sollicitudin porttitor erat sit amet, euismod ullamcorper arcu. Nulla vel tortor felis. Quisque tellus ante, ultrices at eleifend nec, iaculis nec nisi.
																					</p>
																					<ul class="auth-date">
																						<li>
																							<h6 class="auth-name font-text-italic">By <a href="#">John Doe</a></h6>
																						</li>
																						<li>
																							<h6>13 April 2026</h6>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</li>
																		<li class="thumbnail-item">
																			<div class="wrapper">
																				<div class="image-area">
																					<a href="blog-detail.html">
																						<figure>
																							<div class="images br-24">
																								<img class="transform-scale" src="assets/img/photos/thumb5.jpg" alt="">
																							</div>
																						</figure>
																					</a>
																				</div>
																				<div class="info-area">
																					<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-text-semibold">
																						<a href="blog-detail.html">
																							Nam mauris lorem, porttitor eget sapien ut, mollis consequat purus. Proin vehicula, libero eget euismod facilisis, dolor ante facilisis dolor, et imperdiet mauris arcu ac magna.
																						</a>
																					</h3>
																					<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																						Sed ut ex sit amet erat vehicula sagittis. Maecenas in luctus nisl, in fringilla turpis. Nullam pulvinar pretium ipsum sit amet consectetur.
																					</p>
																					<ul class="auth-date">
																						<li>
																							<h6 class="auth-name font-text-italic">By <a href="#">John Doe</a></h6>
																						</li>
																						<li>
																							<h6>10 April 2026</h6>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</li>
																		<li class="thumbnail-item">
																			<div class="wrapper">
																				<div class="image-area">
																					<a href="blog-detail.html">
																						<figure>
																							<div class="images br-24">
																								<img class="transform-scale" src="assets/img/photos/thumb11.jpg" alt="">
																							</div>
																						</figure>
																					</a>
																				</div>
																				<div class="info-area">
																					<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-text-semibold">
																						<a href="blog-detail.html">
																							Aenean sagittis mauris sed ante viverra, ac faucibus magna tincidunt. Cras porttitor odio eu aliquam iaculis.
																						</a>
																					</h3>
																					<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																						Praesent ante urna, pretium ac tortor ac, egestas pellentesque enim. Aliquam quis lacus sapien. Mauris placerat mattis tincidunt. Etiam fringilla elementum aliquet.
																					</p>
																					<ul class="auth-date">
																						<li>
																							<h6 class="auth-name font-text-italic">By <a href="#">John Doe</a></h6>
																						</li>
																						<li>
																							<h6>7 April 2026</h6>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</li>
																		<li class="thumbnail-item">
																			<div class="wrapper">
																				<div class="image-area">
																					<a href="blog-detail.html">
																						<figure>
																							<div class="images br-24">
																								<img class="transform-scale" src="assets/img/photos/thumb4.jpg" alt="">
																							</div>
																						</figure>
																					</a>
																				</div>
																				<div class="info-area">
																					<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-text-semibold">
																						<a href="blog-detail.html">
																							Phasellus nisl velit, mollis ac gravida vel, porttitor porttitor ex. Etiam non mattis urna. Nullam non porta augue. Nunc dictum vehicula erat, in tincidunt neque tristique in.
																						</a>
																					</h3>
																					<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																						Maecenas enim justo, sollicitudin porttitor erat sit amet, euismod ullamcorper arcu. Nulla vel tortor felis. Quisque tellus ante, ultrices at eleifend nec, iaculis nec nisi.
																					</p>
																					<ul class="auth-date">
																						<li>
																							<h6 class="auth-name font-text-italic">By <a href="#">John Doe</a></h6>
																						</li>
																						<li>
																							<h6>13 April 2026</h6>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</li>
																		<li class="thumbnail-item">
																			<div class="wrapper">
																				<div class="image-area">
																					<a href="blog-detail.html">
																						<figure>
																							<div class="images br-24">
																								<img class="transform-scale" src="assets/img/photos/thumb2.jpg" alt="">
																							</div>
																						</figure>
																					</a>
																				</div>
																				<div class="info-area">
																					<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-text-semibold">
																						<a href="blog-detail.html">
																							Nam mauris lorem, porttitor eget sapien ut, mollis consequat purus. Proin vehicula, libero eget euismod facilisis, dolor ante facilisis dolor, et imperdiet mauris arcu ac magna.
																						</a>
																					</h3>
																					<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																						Sed ut ex sit amet erat vehicula sagittis. Maecenas in luctus nisl, in fringilla turpis. Nullam pulvinar pretium ipsum sit amet consectetur.
																					</p>
																					<ul class="auth-date">
																						<li>
																							<h6 class="auth-name font-text-italic">By <a href="#">John Doe</a></h6>
																						</li>
																						<li>
																							<h6>10 April 2026</h6>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>