<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="robots" content="index, follow" />
		<meta name="generator" content="All in One SEO (AIOSEO) 4.6.6" />
		<title>{{ head_title }} &middot; Tanesa Logistics</title>
		<meta name="description" content="Description Here...">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
		<link rel="profile" href="https://gmpg.org/xfn/11">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="@aliaraaab"/>
		<meta name="twitter:title" content="Tanesa Logistics"/>
		<meta name="twitter:creator" content="@aliaraaab" />
		<meta name="twitter:description" content="Description Here..."/>
		<meta name="twitter:image:src" content=""/>
		<meta name="keyword" content="Keyword Here">
		<meta property="og:locale" content="id_ID" />
		<meta property="og:site_name" content="Tanesa Logistics"/>
		<meta property="og:title" content="Tanesa Logistics"/>
		<meta property="og:url" content="https://tanesalogistics.com/"/>
		<meta property="og:description" content="Description Here..." >
		<meta property="og:image" content=""/>
		<meta property="og:image:secure_url" content="" />
		<meta property="og:image:width" content="500" />
		<meta property="og:image:height" content="500" />
		<meta property="og:type" content="website" />
		<link rel="canonical" href="https://tanesalogistics.com/"/>
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<link rel="manifest" href="./site.webmanifest">
		<link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
		<link rel="stylesheet" href="css/main.css">
	</head>

	<body {% if body_class is defined and body_class is not empty %} class="{{ body_class }}"{% endif %}>
		<header class="header-fix">
			<div class="container">
				<nav class="header-menu">
					<div class="header-left hide-tablet">
						<ul class="nav-menu flat" data-aos="fade-right">
							<li>
								<a href="index.html" class="font-text-semibold active" >
									<span>Beranda</span>
								</a>
							</li>
							<li>
								<a href="about.html" class="font-text-semibold">
									<span>Tentang Kami</span>
								</a>
							</li>
							<li>
								<a href="service.html" class="font-text-semibold">
									<span>Layanan</span>
								</a>
							</li>
							<li>
								<a href="check-rates.html" class="font-text-semibold">
									<span>Cek Tarif</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="header-logo">
						<h1 class="brand-logo" data-aos="zoom-in">
							<a href="index.html">
								<span class="logo"></span>
								<strong>Tanesa Logistics</strong>
							</a>
						</h1>
					</div>
					<div class="header-right">
						<ul class="nav-menu flat" data-aos="fade-left">
							<li class="hide-tablet">
								<a href="client.html" class="font-text-semibold">
									<span>Klien</span>
								</a>
							</li>
							<li class="hide-tablet">
								<a href="portfolio.html" class="font-text-semibold">
									<span>Portfolio</span>
								</a>
							</li>
							<li class="hide-tablet">
								<a href="blog.html" class="font-text-semibold">
									<span>Blog</span>
								</a>
							</li>
							<li class="hide-tablet">
								<a href="contact.html" class="font-text-semibold">
									<span>Contact</span>
								</a>
							</li>
							<li class="hide-tablet">
								<div class="search-web">
									<div class="search-input">
										<button type="button" class="button button-search">
											<span class="fa fa-search"></span>
										</button>
									</div>
								</div>
								<div class="search-field">
									<form id="search-form">
										<input type="text" class="search-text" name="" placeholder="Search here....">
										<input type="hidden" name="">
									</form>
								</div>
							</li>
							<!-- <li> -->
								<!-- =================== Menu Sebelum Login =================== -->
								<!-- <div class="dropdown-profile">
									<div class="custom-nav-profile empty" data-toggle="dropdown" aria-expanded="false">
					                    <div class="user-menu">
					                        <div class="user-image">
					                        	<figure>
													<span class="fa fa-user register-icon"></span>
					                        	</figure>
					                        </div>
					                    </div>
					                </div>
					                <div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="login.html">Login</a>
									</div>
								</div> -->
								<!-- =================== End Menu Sebelum Login =================== -->

								<!-- =================== Menu Setelah Login =================== -->
								<!-- <div class="dropdown-profile">
									<div class="custom-nav-profile" data-toggle="dropdown" aria-expanded="false">
					                    <div class="user-menu">
					                        <div class="user-image">
					                        	<figure>
					                            	<img src="assets/img/photos/avatar-karen_gillan2.jpg" alt="user">
													{# <!-- <span class="text-logo font-text-semibold">J</span> --> #}
					                        	</figure>
					                        </div>
					                    </div>
					                    <div class="user-info">
					                        <h6 class="font-text-medium">Hello,</h6>
					                        <h5 class="font-text-semibold">John Doe</h5>
					                    </div>
					                </div>
					                <div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="profile.html">My Profile</a>
										<a class="dropdown-item" href="password.html">Update Password</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="login.html">Sign Out</a>
									</div>
								</div> -->
								<!-- =================== End Menu Setelah Login =================== -->
							<!-- </li> -->
							<li class="show-tablet">
								<div class="toggle-down">
									<div class="menu-toggle-btn">
										<span></span>
										<span></span>
										<span></span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<div class="burger-menu">
			<div class="menu">
				<button class="close-toggle">
					<span class="fa fa-times"></span>
				</button>
				<div class="menu-wrapper">
					<ul id="customDropdownMobile" class="customDropdownMobile">
						<li>
							<div class="search-field">
								<form id="search-form">
									<div class="search-wrapper">
										<input type="text" class="search-text" name="" placeholder="Search here....">
										<input type="hidden" name="">
										<button type="submit" class="button button-search">
											<span class="fa fa-search"></span>
										</button>
									</div>
								</form>
							</div>
						</li>
						<li>
							<a class="font-text-semibold" href="index.html">
								<span>Beranda</span>
							</a>
						</li>
						<li>
							<a class="font-text-semibold" href="about.html">
								<span>Tentang Kami</span>
							</a>
						</li>
						<li>
							<a class="font-text-semibold" href="service.html">
								<span>Layanan</span>
							</a>
						</li>
						<li>
							<a class="font-text-semibold" href="check-rates.html">
								<span>Cek Tarif</span>
							</a>
						</li>
						<li>
							<a class="font-text-semibold" href="client.html">
								<span>Klien</span>
							</a>
						</li>
						<li>
							<a class="font-text-semibold" href="portfolio.html">
								<span>Portfolio</span>
							</a>
						</li>
						<li>
							<a class="font-text-semibold" href="blog.html">
								<span>Blog</span>
							</a>
						</li>
						<li>
							<a class="font-text-semibold" href="contact.html">
								<span>Contact</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="backdrop-global"></div>
		<main id="main">
{% block page %}{% endblock %}
			<div class="consult-info" data-aos="fade-in">
				<div class="container">
					<div class="consult-area">
						<h4 class="font-text-semibold" data-aos="fade-in">Siap Bekerja Sama dengan Kami?</h4>
						<h6 data-aos="fade-in">Hubungi kami sekarang untuk mendapatkan penawaran terbaik untuk kebutuhan logistik Anda.</h6>
						<div class="button-area" data-aos="zoom-in">
							<a href="https://wa.me/628111040429" target="_blank" class="button full-rounded font-text-semibold">Dapatkan Penawaran</a>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="floating-button inquiry-button">
				<div class="button-wrapper">
					<a href="https://wa.me/628111040429" target="_blank" class="button-inside">
						<span class="arrow"></span>
						<span class="fa fa-whatsapp"></span>
					</a>
				</div>
			</div> -->
			<div class="floating-button back-top">
				<div class="button-wrapper">
					<a href="#main" class="button-inside is-scroll">
						<span class="icon-arrow"></span>
					</a>
				</div>
			</div>
		</main>
{% include '../partials/footer.twig' %}
		<script src="js/vendor.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/main.min.js"></script>
	</body>
</html>
